

.botonA{
  background-color: #a5ff13;
  color: black;
  border: 1px solid black;
}

.botonA:hover{
  background-color: #000000;
  color: #A5FF13;
  border: 1px solid #A5FF13;
}

.fullScreenContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textImg{
  background-color: rgba(0, 0, 0, 0.6); 
    color: #ffffff; 
    padding: 2px; 
    border-radius:10px; 
}

body{
  background-image: url("../Images/fondo.jpg"); /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta de tu imagen */
  background-size: cover; /* Para cubrir todo el fondo */
  background-repeat: no-repeat;
  background-attachment: fixed;
}